#siang-lo {
    display: inline;
    justify-content: center;
    color: black;
}

h2 {
    font-weight: lighter;
}

strong {
    color: blue;
}

h3 {
    text-align: center;
    color: black;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
}

h4 {
    font-size: 16px;
    text-align: center;
}

img {
    display: block;
    width: 15em;
    max-height: 15em;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
    font-weight: 100;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

figcaption {
    text-align: center;
    font-size: medium;
    color: blue;
}

ul {
    text-align: center;
}

#p2 {
    position: relative;
    text-align: center;
}

#img-p {
    width: "200px";
    height: "300px";
}

#img-b {
    width: "700px";
    height: "900px";
}