#card-3 {
    display: grid;
    justify-items: center;
    justify-content: center;
    margin: 0;
}

button {
    display: inline-block;
    background-color: #f44336;
    color: white;
    padding: 20px 40px;
    text-align: center;
    text-decoration: none;
    border: #f44336;
    position: relative;
}

.card {
    display: block;
    justify-content: center;
}

button:hover,
button:active {
    background-color: red;
}

.ul-li {
    display: flex;
    justify-content: center;
    color: black;
    background-color: lightgray;
}

.ha {
    text-align: center;
    text-decoration: solid;
    font-size: 20px;
    color: #f44336;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#p1 {
    text-align: center;
    color: purple;
}